<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">    
      <ion-menu-button></ion-menu-button>
      <ion-title>Videos</ion-title>   
    </ion-buttons>       
    <div align="right"><img class=encabezado src="assets/imagen/imagen1.png" ></div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton placeholder="Buscar" ></ion-searchbar>

<div class="card">

  <!-- 
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Leccion 1</ion-card-subtitle>
      <ion-card-title>Colocación y mantenimiento de aparatos de ortodoncia removible</ion-card-title><br>
      <iframe width="300" height="315" src="https://www.youtube.com/embed/883-Qa26jmU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Leccion 1</ion-card-subtitle>
      <ion-card-title>Protesis dentales</ion-card-title><br>
      <iframe width="300" height="315" src="https://www.youtube.com/embed/7A_RtycZlTA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Leccion 1</ion-card-subtitle>
      <ion-card-title>Férulas dentales</ion-card-title><br>
      <iframe width="300" height="315" src="https://www.youtube.com/embed/Y51BZDA_h_s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </ion-card-header>
    </ion-card>

  -->
    <div>
      <input type="hidden" name="MAX_FILE_SIZE" value="4194304" />
      <input type="file" />
    </div>
    <br/>
</div> 


</ion-content>





