<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>     
      <ion-title >Simulador</ion-title>   
    </ion-buttons> 
    <div align="right"><img  class=encabezado src="assets/imagen/imagen1.png" ></div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-card>
      <ion-item>
        <ion-card-content>
          <h1>¿Simulador?</h1> <br>
          <p> SI! ...   El simulador de mecanica dental es un proyecto conjunto a este aplicativo el cual busca ayudar al aprendizaje y practica
             de los conocimientos recibidos en clase, sumado a esto lo que busca es perfeccionar, acompañar y profesionalizar a los estudiantes
              de al carrera de Mecanica Dental, inicialmente para los estudiantes del politecnico Internacional.
            <br><br>
            Proyecto que se encuentra siendo desarrollado por estudiantes del Politecnico Internacional; se espera, poder apoyar a estudiantes
            de la carrera de Mecanica Dental por medio de este simulador...
        </p></ion-card-content>
      </ion-item>
      <iframe width="300" height="315" src="assets/videos/MecanicaDental.mp4"> </iframe>
    <ion-item>
      <ion-card-content>
        <h1>Diferenciador de este Simulador</h1> <br>
        <p> Como lo acabas de ver, en el anterior video, donde no solo se puede identificar los distintos avances sino que podemos observar 
          como estan siendo estructurados los distintos modelos que se utilizaran en el simulador, comenzando desde prototipos dentales, 
          hasta las herramientas que se estaran utiliando dentro de este para realizar los distintos procesos que traen como final 
          una protesis, sino la funcionalidad que espera tener esta.
          </p>
        </ion-card-content>
      </ion-item>
    <ion-item>
    </ion-item>
    </ion-card>
    
</ion-content>
