
<ion-content class="menu" [fullscreen]="true">

  <div class="formulario">

    <form class="Crearusuario" >
      
        <ion-item>
          <ion-icon name="person-outline" item-start></ion-icon>&nbsp;      
          <ion-input type="text" placeholder="Nombres"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="person-outline" item-start></ion-icon>&nbsp;
          <ion-input type="text" placeholder="Apellidos"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="mail-outline" item-start></ion-icon>&nbsp;
          <ion-input type="text" placeholder="Correo electrónico"[(ngModel)]="user.email" name="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="calendar-outline" item-start></ion-icon>&nbsp;
          <ion-label>Fecha de nacimiento </ion-label>
          <ion-datetime></ion-datetime>
        </ion-item>
        <div>
          <ion-item>
            <ion-icon name="eye-outline" item-start></ion-icon>&nbsp;
            <ion-input type="password" placeholder="Contraseña" [(ngModel)]="user.password" name="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="eye-outline" item-start></ion-icon>&nbsp;
            <ion-input type="password" placeholder="Confirmar contraseña"></ion-input>
          </ion-item>
        </div>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon name="woman-outline" item-start></ion-icon>
              <ion-label>Mujer</ion-label>
              <ion-radio value="2"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-icon name="man-outline" item-start></ion-icon>
              <ion-label>Hombre</ion-label>
              <ion-radio value="1"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      
      <div padding align="center">
        <button ion-button block type="submit" class="Guardar" (click)="onRegister()">REGISTRARSE</button><br>
        <button ion-button block type="submit" class="Guardar" [routerLink]="['/login']">LOGIN</button>
      </div>
    </form>
  </div>
</ion-content>
<ion-footer>
  <div padding align="center">
    <img  class=piefondo src="assets/imagen/footer.png" >
  </div>
  <div align="center" class="pie">
    <p >Derechos Reservados</p>
  </div>
</ion-footer>
