<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">     
      <ion-menu-button></ion-menu-button>      
      <ion-title>Guías</ion-title>   
    </ion-buttons>    
    <div align="right"><img  class=encabezado src="assets/imagen/imagen1.png" ></div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel" placeholder="Buscar lección"></ion-searchbar>
  
  <div>
    <input type="hidden" name="MAX_FILE_SIZE" value="4194304" />
    <input type="file" />
  </div>
  <br/>
  
  <!-- 
  <ion-content class="sub-menu">
   <ion-tabs>
    <ion-tab-bar slot="bottom">  
  
      <ion-tab-button tab="speakers">
        <ion-icon name="document"></ion-icon>
        <ion-label>Guías</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map" routerLink="/video">
        <ion-icon name="videocam"></ion-icon>
        <ion-label>Videos</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
   </ion-tabs>
  </ion-content> -->

</ion-content>
